<div class="center">
<h1>Photographers Welcome</h1>
<p>Already a member of Flash Photographer?</p>
<%= link_to "Sign In", new_photographer_session_path, :class => 'btn btn-info'  %>
</br>
</br>
<p>Or join the fastest growing website for photographers:</p>
<%= link_to "Sign Up", new_photographer_registration_path, :class => 'btn btn-info'  %>
</div>
