 <%= form_for [photographer, review] do |f| %>

    <div class="form-group">
      <%= f.label :comment, class: 'sr-only' %>
      <%= f.text_area :comment, class: 'form-control', placeholder: "Write a review" %>
    </div>
    <%= f.submit "Submit Review", class: 'btn btn-default pull-right' %>
  <% end %>
